form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.icon {
    height: 40px;
    width: auto;
}

.display-linebreak {
    white-space: pre-line;
}

.error {
    color: red;
    text-align: center;
}

.bordered {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.scroll {
    max-height: 400px;
    overflow-y: scroll;
}